<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>hello</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main_div">
    <div class="menu_div">
      <h2><%=name%>님 환영합니다!</h2>
      <div class="menubar_div">
        <ul class="menu_ul">
          <li>
            <a href="/visitbook/list">방명록</a>
          </li>
          <li>
            <a href="/bbs/list">게시판</a>
          </li>
          <li>
            <a href="/chat">채팅</a>
          </li>
          <li>
            <a href="/msg">쪽지</a>
          </li>
          <li>
            <a href="/member/logout">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
