doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title Main
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script.
      function signin(f){
        $.ajax({
          type:"post",
          url:"/user/checkPwd",
          data:{id:f.id.value, pwd:f.pwd.value},
          success:function(result){
            console.log(result);
            if(result == "y"){
              location.href="/menu";
            }else{
              alert("아이디 또는 비밀번호가 틀립니다");
              f.id.value = "";
              f.pwd.value = "";
              f.id.focus();
            }
          }
        });
      }
  body
    h1 메인페이지
    div
      form
        table(border="1")
          tr
            th ID
            td: input(name="id")    
          tr
            th PW
            td: input(type="password" name="pwd")  
          tr
            td(colspan="2")
              input(type="button" value="Sign In" onclick="signin(this.form)")
              input(type="button" value="Sign Up" onclick="location.href='/user/signup'")
            
