.main_div
  .menu_div
    h3 #{user.name}님 환영합니다.
    .menubar_div
      ul.menu_ul
        li: a(href="/bbs/list") 게시판
        li: a(href="/chat") 채팅
        li: a(href="/ticket") 티켓예매
        li: a(href="/user/logout") 로그아웃
