html
  head
    meta(charset="utf-8")
    title static-routing
    link(rel="stylesheet" href="/css/mystyle.css")
    script(src="/js/myscript.js")
  body
    ul
      li javascript
      li nodeJs
      li express
