doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title
  body
    form(action="/musician/add" method="post")
      input(placeholder="이름" name="name")
      br
      input(placeholder="소속사" name="company")
      br
      input(type="submit" value="추가")
