<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hello</title>
  </head>
  <body>
    <h3><%=name%>님 환영합니다!</h3>
    <ul>
      <li>
        <a href="/visitbook/list">방명록 둘러보기</a>
      </li>
    </ul>
  </body>
</html>
