doctype html
html
  head
    meta(charset="utf-8")
    title user1.pug
    //script.
    //  window.onload = function(){
    //    window.alert("hello pug");
    //  }
    script(src='/js/my.js')
  body
    h1 Hello Pug!
