<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/musician/add" method="post">
      <input placeholder="이름" name="name"/><br>
      <input placeholder="소속사" name="company"/><br>
      <input type="submit" value="추가"/>
    </form>
  </body>
</html>
