<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <input type="text" name="id" value=""><br>
    <input type="password" name="pwd" value=""><br>
    <input type="button" name="" value="login">
  </body>
</html>
