html
  head
    meta(charset="text/html")
    title #{title}
  body
    form(action="/login" method="post")
      input(name="id")
      br
      input(type="password" name="pwd")
      br
      input(type="submit" value="login")
