doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/ticket.css")
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    include ../included/login_check
    if(user)
      script.
        var socket = io.connect();
        socket.on('reserve', function(data){
          console.log(data);
          var $target = $('div[data-x = ' + data.x + '][data-y = ' + data.y + ']');
          $target.removeClass('enable');
          $target.addClass('disable');
        });
        
        $(document).ready(function(){
          var onClickSeat = function(){
            var x = $(this).attr('data-x');
            var y = $(this).attr('data-y');
            console.log(x, y);
            if(confirm('좌석을 예매하시겠습니까?')){
              $(this).off('click');
              socket.emit('reserve', {x: x, y: y});
            }else{
              alert('취소되었습니다.');
            }
          }
          
          $.getJSON('/ticket/seats', {dummy: new Date().getTime() }, function(data){
            $.each(data, function(indexY, line){
              var $line = $('<div></div>').addClass('line').css({'margin':'auto','width':'480px', 'align':'center'});
              $.each(line, function(indexX, seat){
                var $output = $('<div></div>', {
                  'class':'seat',
                  'data-x':indexX,
                  'data-y':indexY
                }).appendTo($line);
                
                if(seat == 1){
                  $output.addClass('enable').on('click', onClickSeat);
                }else if(seat == 2){
                  $output.addClass('disable');
                }
              });
              $line.appendTo('body');
            });
          });
        });    
  body
    include ../included/menu_layout
