@CHARSET "UTF-8";

#comment_form{
	width: 500px;
	
}
#comment_form table{
	width: 100%;
}

#comment_form th{
	background-color: #aaaaaa;
	color: white;
}

#comment_display{
	margin-top: 20px;
	width: 500px;
}
textarea{
	width: 99%	
}