doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title
    link(rel="stylesheet" href="/css/style.css")
    include included/login_check
    body
      if(user)
        include included/menu_layout
        
      
