<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/visitbook/insert" method="post">
		<table border="1" align="center" width="400">
			<caption>::::방명록 글쓰기::::</caption>
			<tr>
				<th>작성자</th>
				<td><input name="name" value="<%=name%>" readonly="true"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td>
					<textarea name="content" rows="5" cols=""></textarea>
				</td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input type="password" name="pwd"/></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="글쓰기" >
					<input type="button" value="목록보기" onclick="location.href='/visitbook/list'">
				</td>
			</tr>
		</table>
	</form>
  </body>
</html>
