@CHARSET "UTF-8";
#main_box{
	width: 500px;
	min-height: 400px;
	height: auto;
	margin: auto; /*중앙정렬*/
}

#main_box > h1{
	text-align: center;
	font-size: 25pt;
	color: gray;
	text-shadow: 3px 3px 5px black;
	margin-bottom: 20px;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
}

.box_style{
	width: 80%;
	min-height: 100px;
	height: auto;
	box-shadow: 5px 5px 10px black;
	margin: auto;
	margin-bottom: 50px;
	background-color: #eeeeee;
}

.content_style, .name_style, .date_style, .pwd_style{
	border: 1px solid #ffcccc;
	padding: 5px;
}

.content_style{
	min-height: 80px;
	height: auto;
}
