<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = null;
      window.onload = function(){
        socket = io.connect();
        socket.on('receive', function(data){
            document.getElementById('ta').value += data + '\n';
        });
        document.getElementById('send').onclick = sendMsg;

      };

      function sendMsg(){
        var name = '<%=name%>';
        var msg = document.getElementById('msg').value;
        socket.emit('broadcast', name+':'+msg);
        document.getElementById('msg').value = "";
      }
    </script>
  </head>
  <body>
    <div class="">
        <textarea id="ta" rows="30" cols="100"></textarea><br>
        <%=name%>:
        <input style="width:500px" id="msg"/>
        <input type="button" id="send" value="SEND"/>
    </div>
  </body>
</html>
